.App {
  font-family: sans-serif;
  text-align: center;
}

.notes-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin: auto;
}

.card {
  width: 25%;
  border: 1px solid black;
  margin: 10px;
}

.notes-cards {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  margin: 10px;
  padding: 10px;
  border: 0px;
  background-color: skyblue;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.title-input {
  padding: 10px;
}

.desc-input {
  padding: 10px;
  height: 10vh;
}
